<div class="app-wrap">
  <div class="row">
    <a ui-sref="entities" class="btn-rounded" aria-label="Connect Entities">
      <md-icon>add</md-icon>
    </a>
    Entities connected ({{ $ctrl.entities.length }})
    <a href="" class="dropdown-toggle" ng-click="$ctrl.toggleList($event)">
      <md-icon ng-if="!$ctrl.showList">expand_more</md-icon>
      <md-icon ng-if="$ctrl.showList">expand_less</md-icon>
    </a>
  </div>

  <div class="list" ng-show="$ctrl.showList">
    <entities-list></entities-list>
  </div>
</div>