<div class="app-wrap">
  <div>
    <a ui-sref="connect" 
        class="btn-rounded"
        aria-label="Connect Entities">
      <md-icon>add</md-icon>
      <md-tooltip md-direction="top">Connect more</md-tooltip>
    </a>
    Entities connected ({{ $ctrl.entities.length }})
    <a class="dropdown-toggle" 
        ng-click="$ctrl.toggleList($event)"
        ng-if="$ctrl.entities.length > 0">
      <md-icon ng-if="!$ctrl.showList">expand_more</md-icon>
      <md-icon ng-if="$ctrl.showList">expand_less</md-icon>
      <md-tooltip md-direction="top" 
          md-visible="$ctrl.showTooltip">
        {{ $ctrl.showList ? 'Hide' : 'Show' }} list
      </md-tooltip>
    </a>
  </div>

  <div class="list"
      ng-show="$ctrl.showList">
    <entities-list></entities-list>
  </div>
</div>